GOOGLE_API_KEY    = your_actual_api_key_here
GEMINI_BASE_URL   = https://generativelanguage.googleapis.com/v1beta/openai/
GEMINI_MODEL_NAME =your_gemini_model_name

REDIS_URL = rediss://default:<password>@<host>:<port>

SUPABASE_URL = https://<project-ref>.supabase.co
SUPABASE_KEY = <your-service-role-key>

SLACK_WEBHOOK_URL = https://hooks.slack.com/services/YOUR/WEBHOOK/URL